@model WebApplication3.Controllers.DepotController.BayViewModel
<div class="form-group form-inline">
    <label for="blockSelect">Chọn block:</label>
    <select class="form-control" id="blockSelect">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
    </select>


</div>

<div id="drop-area">
    <img src="~/Content/Images/container.png" alt="Description of image" id="move" />
    <div class="container-popup">
        <div class="popup" id="myPopup"><span id="close">X</span><div id="tableContainer"></div></div>
    </div>
</div>


<div class="tab" id="tabs">
    @foreach (var bay in Model.Bays)
    {
        string formattedBay = bay.Length == 2 ? $"{bay[0]}0{bay[1]}" : bay;
        <button class="tablinks" onclick="openTab(event, 'Tab@bay', '@bay')">@bay</button>
    }
</div>

<div id="left">
    <table id="number">
        <tr><td>5</td></tr>
        <tr><td>4</td></tr>
        <tr><td>3</td></tr>
        <tr><td>2</td></tr>
        <tr><td>1</td></tr>
    </table>
</div>
<div id="right">
    <table id="myTable">
        <thead id="headerRow">
        </thead>
        <tbody id="table-body"></tbody>
        <tfooter></tfooter>
    </table>
    <span id="num-container"></span>
</div>
<div id="truckView">
    <div id="truck-area">
        <img src="~/Content/Images/container-truck.png" alt="Description of image" id="truck" />
        <div class="truck-popup">

            <div class="tk-popup" id="truckPopup"><span id="close-truck">X</span><div id="tableTruck">ấdfdsfsdf</div></div>
        </div>
    </div>
</div>